.idea
*.iml
target
*.classpath
*.project
*.gitignore
brev-bestilling-boot/.settings/
pensjon-integrasjon/.settings/
brevbestilling-integrasjon/.settings/
prepare-brevdata-grunnlag/.settings/
